* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #bb2255;
    text-align: center;
}

.card-action {
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: 50px;
    font-weight: 700;
}

.products{
    display: flex;
    justify-content: center;
}

.contacts{
    text-align: center;
    font-weight: 700;
    color: rgb(138, 135, 135);
}

.contacts a{
    color: rgb(138, 135, 135);

}